<a href="https://colab.research.google.com/github/Gernnn/Data-Bootcamp_12/blob/main/BT12_Intro_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Python Programming

We learn 5 concepts + 1 OOP

* Variable + Basic Calcularion
* Data Types
* Data Structures
* Control Flow
* Function

Python จะรันโค้ดจาก บนลงล่าง แต่จะโชว์ผลลัพบรรทัดสุดท้ายเท่านั้น

In [ ]:
print("this is another cell")

this is another cell

In [ ]:
print("hello world")

hello world

In [ ]:
print("I am learning Python")

I am learning Python

## Variable & Calculation

In [ ]:
print(1+1)
print(2*2)

2
4

In [ ]:
print(100/2)
print(100//2)

50.0
50

In [ ]:
print(3/2)
print(3//2)
## '//' จะทำการหารและปัดเศษไปด้วย Floor division

1.5
1

In [ ]:
## modulo ใช้สำหรับดูเศษจากการหาร
5 % 2

1

In [ ]:
5**2

25

In [ ]:
## Variable
x = 100
y = 200
print(x+y)

300

In [ ]:
## naming variables
income = 50000
expense = 36000
saving = income - expense
print(saving)

14000

In [ ]:
## snake case คือการใช้ '_' มาเชื่อมชื่อต่างๆ
income_y2025 = 65000

##remove variables
del saving

## **Data Types**

* int
* float
* str
* bool

In [ ]:
## Dynamic Type
name = "Gern"
text = "I'm loving McDonalds"
age = 37 # int
gpa = 3.41 # float
fav_lang = "Python"
movie_lover = True # False

print(name,text, age, fav_lang, gpa, movie_lover)

Gern I'm loving McDonalds 37 Python 3.41 True

In [ ]:
type(movie_lover)

bool

In [ ]:
## type hint
name:int = "Siri Gern"
type(name)

str

In [ ]:
age: int = 37
gpa: float = 3.41

In [ ]:
## convert type
# int() float() str() bool()
str(100)

'100'

In [ ]:
int(False)
bool(0)

False

In [ ]:
# f-string
name = "Gern"
age = 21
lang = "R"

text =  f"Hi! my name is {name} and I am {age} years old. My fav lang is {lang}"

In [ ]:
print(text)

Hi! my name is Gern and I am 21 years old. My fav lang is R

## **Data Structures**

* list
* tuple
* dictionary
* set

### **list is mutable**

In [ ]:
# shopping list
mom_list = ["egg", "milk", "bread", "banana", "rice"]

In [ ]:
# check length of list
len(mom_list)

5

In [ ]:
# index starts with 0
mom_list[0]

'egg'

In [ ]:
# slice item in a list
mom_list[0:2]

['egg', 'milk']

In [ ]:
## slice from bread till the end of list
mom_list[2: ]

['bread', 'banana', 'rice']

In [ ]:
# list can contain multiple data types
Gern = ["Gern", 21, "bangkok", 3.41, True]

In [ ]:
Gern[0: ]

['Gern', 21, 'bangkok', 3.41, True]

In [ ]:
# nested list
brothers = [["toy", 1988],
            ["top", 1989],
            ["tap", 1991]
]

In [ ]:
brothers[1][1]

1989

In [ ]:
brothers[2][0]

'tap'

In [ ]:
## funtion vs method
# method คือฟังค์ชั่นที่เกิดขึ้นมาเพื่อใช้กับ object ที่เราตั้งไว้เท่านั้น

In [ ]:
len(mom_list)

5

In [ ]:
# list method
# funtion ที่สามารถใช้ได้กับ list เท่านั้น

In [ ]:
mom_list

['egg', 'milk', 'bread', 'banana', 'rice']

In [ ]:
# add carot at the end of list
mom_list.append("carot")
mom_list

['egg', 'milk', 'bread', 'banana', 'rice', 'carot']

In [ ]:
# remove the last item
mom_list.pop()
mom_list

['egg', 'milk', 'bread', 'banana', 'rice']

In [ ]:
# insert item at the index we want
mom_list.insert(1, "carot")
mom_list

['egg', 'carot', 'milk', 'bread', 'banana', 'rice']

In [ ]:
#remove carot?
mom_list.remove("carot")
mom_list

['egg', 'milk', 'bread', 'banana', 'rice']

**Mutable Vs. Immutable**

* mutable = can change / transform e.g. `list` `dict`
* immutable = cannot change / transform e.g. `str` `tuple`

**Function Vs. Method**

```python
# function
print("hello world")

#method is a function for specific object (class)
object.method()
```

In [ ]:
## string methods
text = "a duck walks into a bar."

In [ ]:
text.upper()

'A DUCK WALKS INTO A BAR.'

In [ ]:
## list of my friends (mutable)
friends = ["lisa","bambam","jisoo"]

In [ ]:
friends.append("kevin")

In [ ]:
friends

['lisa', 'bambam', 'jisoo', 'kevin']

In [ ]:
## string (immuatable)
text = "a duck walks into a bar."
text = text.upper()

In [ ]:
text

'A DUCK WALKS INTO A BAR.'

In [ ]:
## lower case
text = text.lower()

In [ ]:
# new variable
lang = "Python"
lang[0] = "C"

TypeError: 'str' object does not support item assignment

In [ ]:
## update item in mom_list
mom_list

In [ ]:
mom_list.append("orange juice")

In [ ]:
mom_list

In [ ]:
## mutable = can change / transform data
mom_list[0] = "duck egg"
mom_list[1] = "sheep milk"

mom_list

In [ ]:
## string methods
text

In [ ]:
text = text.replace("duck", "chicken")

In [ ]:
text

In [ ]:
text.count("chicken")

In [ ]:
text = ".......hello...."
text = text.strip(".")

In [ ]:
text

In [ ]:
# split text into list
text = "I love learning Python with P Toy"
split_text = text.split(" ")

In [ ]:
" ".join(split_text)

### **tuple is immutable**

In [ ]:
my_tup = ()

In [ ]:
type(my_tup)

In [ ]:
type(mom_list)

In [ ]:
books = ("make better decisions", "life's missing manual", "brain audit")

In [ ]:
books[0]

In [ ]:
books[2]

In [ ]:
## tuple unpacking
x, y, z = (100, 200, 300)

print(x+y+z)

### **dictionary: mutable**

```
{key: value}

In [ ]:
movie = {
    "title": "the Dark Knight",
    "year": 2006,
    "rating": {
        "imdb": 8.6,
        "rottentomatoes": 9.1
    },
    "cast": ["A", "B", "C"]
}

In [ ]:
movie

In [ ]:
movie["title"] = "Superwonam"
movie["year"]= 2026

In [ ]:
movie

In [ ]:
movie["revenue"]= 1000

In [ ]:
movie

In [ ]:
del movie["revenue"]

In [ ]:
movie

In [ ]:
## dictionary methods
## keys, items, values
movie.keys()

In [ ]:
movie.values()

In [ ]:
movie.items()

In [ ]:
title = list(movie.keys())

In [ ]:
title

In [ ]:
## convert data structures
## list(), tuple(), dict(), set()

In [ ]:
list_a = [100, 200, 300]

In [ ]:
list_a

In [ ]:
## update value in dictionary
movie

In [ ]:
movie["cast"][0] = "Christian Bale"

In [ ]:
movie

### **Set: Mutable**

unique values in a set

In [ ]:
colors = ["red", "blue", "blue","red"]

In [ ]:
set_colors = set(colors)

In [ ]:
set_colors

In [ ]:
books = {"book1", "books2", "book3"}
type(books)

In [ ]:
## add new item to set
set_colors.add("yellow")
set_colors.add("salmon")

In [ ]:
set_colors

In [ ]:
## remove color
set_colors.remove('salmon')

In [ ]:
set_colors

## **Control Flow**

* if
* for
* while

In [ ]:
# if
score = 82
if score >= 80:
    print("passed")
else:
    print("failed")

In [ ]:
# mulitple grades
score = 44

if score >= 80:
    print("A")
elif score >= 70:
    print("B")
elif score >= 60:
    print("C")
else:
    print("D")

In [ ]:
# get input from user
username = input("What's your name: ")
age = int(input("how old are you: "))

In [ ]:
# multiple conditions
# night club
has_id = True
age_over_18 = False
vip_customer = False

if has_id and (age_over_18 or vip_customer):
    print("Welcome to the club.")
else:
    print("Please come next time.")

In [ ]:
# for & while
items = ["egg","milk","bread"]

for item in items:
    if item == "milk":
        print("CP Meiji")
    else:
        print(item)

In [ ]:
## list comprehension
result = [ ]

for item in items:
    result.append(item.upper())

print(result)

In [ ]:
# list comprehension
[item.upper() for item in items]

In [ ]:
# while
while True:
    user_input = input("Play on: Y/N ")
    if user_input == "N":
        print("Goodbye!")
        break
    else:
        print("Gooooo!")

In [ ]:
## while another example
count = 0

while count < 5:
    print("hi!")
    count += 1

# **Function**

```python
def function_name():
    pass
```

In [ ]:
## create our first function
def greeting(name):
    """
    say hello to our friends
    """
    print(f"hello {name}!")

In [ ]:
greeting

In [ ]:
## function can take inputs
greeting("Gern")

hello Gern!

In [ ]:
## new function cube()
def cube(base, power):
    return base**power

result = cube(5,4)

print(result)

625

In [ ]:
## function can return multiple values
## using tuple unpacking
def random_fun(base):
    return base**2, base**3, base**4

In [ ]:
x, y, z =random_fun(5)

print(x,y,z, x+y+z)

25 125 625 775

In [ ]:
## function is "reusable"

In [ ]:
## build my own chatbot
def chat():
    print("Hello!")
    orders = {"hawaian": 0, "cheese": 0 , "hotdog": 0}
    bill = []#total money(spending)
    while True:
        user_name = input("What's your name ")
        print(f"Welcome to our pizza restaurant {user_name}")
        ## another inputs ..


        ## end the process
        if user_input == "Check bill":
            ## calculate total money spending
            print("Thank you very much!")
            break

In [ ]:
## Recap all things we learn today

## Five Essentials Concepts

1. Variable
2. Data Types
3. Data Structures
4. Control Flow
5. Function

## **Object Oriented Programming/ OPP**

In [ ]:
class Dog:
    name = "Gern"
    age = 5
    color = "Brown"
    breed = "French Bulldog"

 # function (Dog metod)
    def sitting(self):
        print("I am sitting now!")
    def hungry(self, food_name):
        print(f"I am hungry, I need {food_name}!")

In [ ]:
my_dog = Dog()
type(my_dog)

__main__.Dog

In [ ]:
my_dog.hungry("hotdog")

I am hungry, I need hotdog!