<a href="https://colab.research.google.com/github/Gernnn/Data-Bootcamp_12/blob/main/Essential_Python_for_DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Essential Python for DA**

- Object Oriented Programming
- Read and Write file
- Context Manager
- Handle Error
- Pandas & Numpy (on demand)
- Request API

## **OOP**

* attributes: name, species, age
* methods: function bark() hbd()

In [ ]:
class Dog:
    def __init__(self, name, species, age):
        self.name = name
        self.species = species
        self.age = age
    def bark(self):
        print(f"{self.name} is barking 'hong hong'!")

    def hbd(self):
        self.age += 1

In [ ]:
## attributes
dog1 = Dog("milo", "Chihuahua",7)
dog2 = Dog("david", "Husky",5)

In [ ]:
print(f"{dog1.name} is {dog1.species}")

milo is Chihuahua

In [ ]:
print(f"{dog2.name} is {dog2.species}")

david is Husky

In [ ]:
dog1.bark()

milo is barking 'hong hong'!

In [ ]:
dog2.bark()

david is barking 'hong hong'!

In [ ]:
print(dog1.age)
dog1.hbd()
print(dog1.age)

8
9

In [ ]:
## homework OOP for an ATM

## deposit, withdraw, check balance, OTP, order coffe, pay bill, internet

In [ ]:
class ATM:
    def __init__(self, username, bank, amount):
        self.username= username
        self.bank = bank
        self.amount = amount

    def __str__(self):
        return f"{self.username} uses {self.bank} and has {self.amount} THB in an account."

    def check_balance(self):
        print(f"Balance: {self.amount} THB")

    def deposit(self, saving):
        self.amount += saving
        print(f"Deposit {saving} THB successfully!")

In [ ]:
gern = ATM("siri gern", "kbank", 1000)

In [ ]:
gern.check_balance()

Balance: 1000 THB

In [ ]:
gern.deposit(300)

Deposit 300 THB successfully!

In [ ]:
gern.check_balance()

Balance: 1300 THB

In [ ]:
print(gern)

siri gern uses kbank and has 1300 THB in an account.

### **Super Class**

In [8]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

##extension
class Employee(Person):
    def __init__(self, name, age, company):
        super().__init__(name, age)
        self.company = company

    def greeting(self):
        print("Hello World!")

In [10]:
gern = Employee("gern", 21,"MomDad")

In [11]:
gern.name

'gern'

In [14]:
toy = Person("toy",37)

In [16]:
gern.greeting()

Hello World!

## **Try Except Block**

In [17]:
try:
    result = 1/0
except:
    print("this is an error!")

this is an error!

In [18]:
!ls

hotel.csv  sample_data

In [19]:
!cat hotel.csv

hotel_id,name,city,star_rating,price_per_night
101,Grand Plaza,New York,5,350
102,Ocean View,Miami,4,220
103,Mountain Retreat,Denver,4,185
104,The Urban Stay,Chicago,3,140
105,Sunset Resort,Los Angeles,5,410
106,Desert Inn,Phoenix,3,95
107,Heritage House,Boston,4,210
108,Lakeside Lodge,Seattle,3,130
109,Golden Gate Suites,San Francisco,5,380
110,Central Boutique,Austin,4,195

In [20]:
## read file
import csv

In [24]:
try:
    file = open("hotel.csv", "r") ## r = read, w = write, a = append
    data = csv.reader(file)
    for row in data:
        print(row)
    file.close()
except FileNotFoundError:
    print("file not found, please check filename again")
finally:
    print("read file successfully")
## csv.reader()

['hotel_id', 'name', 'city', 'star_rating', 'price_per_night']
['101', 'Grand Plaza', 'New York', '5', '350']
['102', 'Ocean View', 'Miami', '4', '220']
['103', 'Mountain Retreat', 'Denver', '4', '185']
['104', 'The Urban Stay', 'Chicago', '3', '140']
['105', 'Sunset Resort', 'Los Angeles', '5', '410']
['106', 'Desert Inn', 'Phoenix', '3', '95']
['107', 'Heritage House', 'Boston', '4', '210']
['108', 'Lakeside Lodge', 'Seattle', '3', '130']
['109', 'Golden Gate Suites', 'San Francisco', '5', '380']
['110', 'Central Boutique', 'Austin', '4', '195']
read file successfully