<a href="https://colab.research.google.com/github/Gernnn/Data-Bootcamp_12/blob/main/Intermediate_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
penguins = pd.read_csv("penguins.csv")

In [6]:
# preview first 5 rows
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [7]:
# preview last 5 row
penguins.tail()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [8]:
# shape of dataframe
penguins.shape

(344, 7)

In [9]:
# information of dataframe
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [12]:
# select columns
penguins.species.head()
penguins[['species', 'island', 'sex']].tail(8)

    species  island     sex
336  Gentoo  Biscoe     NaN
337  Gentoo  Biscoe    MALE
338  Gentoo  Biscoe  FEMALE
339  Gentoo  Biscoe     NaN
340  Gentoo  Biscoe  FEMALE
341  Gentoo  Biscoe    MALE
342  Gentoo  Biscoe  FEMALE
343  Gentoo  Biscoe    MALE

In [18]:
# integer location based indexing (iloc)
penguins.iloc[[0,1,2,3]] #0:3 ได้เหมือนกัน
penguins.iloc[ 0:5, [0,1,2]] # ดึง index และ เลือก column

  species     island  bill_length_mm
0  Adelie  Torgersen            39.1
1  Adelie  Torgersen            39.5
2  Adelie  Torgersen            40.3
3  Adelie  Torgersen             NaN
4  Adelie  Torgersen            36.7

In [22]:
# filter rows by a condition
penguins[ penguins['sex'] == 'MALE' ]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
...,...,...,...,...,...,...,...
333,Gentoo,Biscoe,51.5,16.3,230.0,5500.0,MALE
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MALE
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,MALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [24]:
penguins[penguins[ 'bill_length_mm'] < 34]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
98,Adelie,Dream,33.1,16.1,178.0,2900.0,FEMALE
142,Adelie,Dream,32.1,15.5,188.0,3050.0,FEMALE

In [29]:
#filter more than one condition
filtered_penguins = penguins[(penguins['island'] == 'Torgersen') | (penguins['bill_length_mm'] < 35)]

In [31]:
# filter with .querry()
penguins.query('island == "Torgersen" & bill_length_mm < 35') #"island == 'Torgersen'"

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE
18,Adelie,Torgersen,34.4,18.4,184.0,3325.0,FEMALE
70,Adelie,Torgersen,33.5,19.0,190.0,3600.0,FEMALE
80,Adelie,Torgersen,34.6,17.2,189.0,3200.0,FEMALE

In [33]:
# check missing in each column
penguins.isna().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [35]:
# filter missing values in column sex
penguins[penguins['sex'].isna()]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN
11,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN
47,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN
246,Gentoo,Biscoe,44.5,14.3,216.0,4100.0,NaN
286,Gentoo,Biscoe,46.2,14.4,214.0,4650.0,NaN
324,Gentoo,Biscoe,47.3,13.8,216.0,4725.0,NaN
336,Gentoo,Biscoe,44.5,15.7,217.0,4875.0,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN

In [36]:
# drop na
clean_penguins = penguins.dropna()

clean_penguins.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,FEMALE
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,MALE
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,MALE

In [37]:
# fill missing values with mean
top5penguins = penguins.head(5)

In [39]:
avg_value = top5penguins['bill_length_mm'].mean()

In [42]:
top5penguins = top5penguins['bill_length_mm'].fillna(avg_value)
top5penguins

KeyError: 'bill_length_mm'

In [43]:
top5penguins

0    39.1
1    39.5
2    40.3
3    38.9
4    36.7
Name: bill_length_mm, dtype: float64

In [46]:
# sort bill_length_mm low to high, high to low
penguins.dropna().sort_values('bill_length_mm', ascending=False).head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,MALE
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,FEMALE
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,MALE
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,MALE
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,MALE
283,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,MALE
183,Chinstrap,Dream,54.2,20.8,201.0,4300.0,MALE
191,Chinstrap,Dream,53.5,19.9,205.0,4500.0,MALE
327,Gentoo,Biscoe,53.4,15.8,219.0,5500.0,MALE
181,Chinstrap,Dream,52.8,20.0,205.0,4550.0,MALE

In [48]:
# sort multiple columns
penguins.dropna().sort_values(['island', 'bill_length_mm'],ascending=False)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,MALE
73,Adelie,Torgersen,45.8,18.9,197.0,4150.0,MALE
129,Adelie,Torgersen,44.1,18.0,210.0,4000.0,MALE
131,Adelie,Torgersen,43.1,19.2,197.0,3500.0,MALE
81,Adelie,Torgersen,42.9,17.6,196.0,4700.0,MALE
...,...,...,...,...,...,...,...
66,Adelie,Biscoe,35.5,16.2,195.0,3350.0,FEMALE
25,Adelie,Biscoe,35.3,18.9,187.0,3800.0,FEMALE
52,Adelie,Biscoe,35.0,17.9,190.0,3450.0,FEMALE
100,Adelie,Biscoe,35.0,17.9,192.0,3725.0,FEMALE
54,Adelie,Biscoe,34.5,18.1,187.0,2900.0,FEMALE

In [50]:
# unique values
penguins['species'].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [51]:
# count values
penguins[ 'species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [54]:
# count more than one columns
result = penguins[ ['island', 'species']].value_counts().reset_index()

result.columns = ['island','species', 'count']

result

      island    species  count
0     Biscoe     Gentoo    124
1      Dream  Chinstrap     68
2      Dream     Adelie     56
3  Torgersen     Adelie     52
4     Biscoe     Adelie     44